backports.weakref==1.0rc1
bleach==1.5.0
cymem==1.31.2
dill==0.2.7.1
funcsigs==1.0.2
html5lib==0.9999999
Markdown==2.6.8
mock==2.0.0
murmurhash==0.26.4
numpy==1.13.1
olefile==0.44
pandas==0.20.3
pathlib==1.0.1
pbr==3.1.1
Pillow==4.2.1
plac==0.9.6
preshed==1.0.0
protobuf==3.3.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==4.2b1
six==1.10.0
tensorflow==1.12.1
termcolor==1.1.0
toolz==0.8.2
torch==0.1.12.post2
torchvision==0.1.8
tqdm==4.15.0
Werkzeug==0.12.2
wrapt==1.10.10
